@page
@model IndexModel
@{
    ViewData["Title"] = "一覧・検索画面";
}

<!-- 全体レイアウト -->
<div class="container">
    <!-- タイトル -->
    <div class="row mb-3">
        <div class="text-start">
            <h1 class="">タスク一覧画面</h1>
        </div>
    </div>

    <!-- 検索窓・フィルター -->
    <form method="get" class="row mb-3">
        <!-- フィルター反映ボタン -->
        <div class="col-2">
            <button class="btn btn-outline-primary" type="submit">絞り込み</button>
        </div>
        <!-- 担当者名フィルタ -->
        <div class="col">
            <input class="form-control" type="text" asp-for="@Model.FilterAssignee" placeholder="担当者名" />
        </div>
        <!-- 進捗フィルタ -->
        <div class="col">
            <select class="form-select" asp-for="@Model.SelectedStatus" asp-items="@Model.ItemList" onchange="this.form.submit()"></select>
        </div>
    </form>

    <!-- 一覧本体 -->
    <div class="row mb-3">
        <table class="table align-text-bottom">
            <tr>
                <th>タスクID</th>
                <th>タスク名</th>
                <th>担当者名</th>
                <th>期日</th>
                <th>進捗状態</th>
                <th>更新</th>
            </tr>
            @foreach (var task in Model.Tasks)
            {
                string textColor = "";

                @if (@task.DUE_DATE < DateTime.Today && !@task.STATUS.Equals("完了"))
                {
                    textColor = "text-danger";
                }

                <tr>
                    <th class="@(textColor)">@task.TASK_ID</th>
                    <td class="@(textColor)">@task.TASK_NAME</td>
                    <td class ="@(textColor)">@task.ASSIGNEE</td>
                    <td class="@(textColor)">@task.DUE_DATE.ToShortDateString()</td>
                    <td class="@(textColor)">@task.STATUS</td>
                    <td>
                        <a asp-page="/Edit" asp-route-id="@task.TASK_ID" class="btn btn-primary">更新</a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>